@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@200&display=swap');



body {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1 {
    margin-top: 350px;
    text-align: center;
    font-size: 100px;
    font-family: 'Noto Sans Hebrew', sans-serif;
}


@media screen and (max-width: 1298px) {
    h1{
        font-size: 50px;
    }
}


@media screen and (max-width: 998px) {
    h1{
        font-size: 30px;
    }
}
